In [48]:
import pandas as pd
import numpy as np
dispo_ali=pd.read_csv('C:/Users/lenovo/OneDrive/Desktop/DAN-P9-data/DisponibiliteAlimentaire_2017.csv')
population=pd.read_csv('C:/Users/lenovo/OneDrive/Desktop/DAN-P9-data/Population_2000_2018.csv')

In [49]:
dispo_ali.info()
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            176600 non-null  object
 1   Domaine                 176600 non-null  object
 2   Code zone               176600 non-null  int64
 3   Zone                    176600 non-null  object
 4   Code Élément            176600 non-null  int64
 5   Élément                 176600 non-null  object
 6   Code Produit            176600 non-null  int64
 7   Produit                 176600 non-null  object
 8   Code année              176600 non-null  int64
 9   Année                   176600 non-null  int64
 10  Unité                   176600 non-null  object
 11  Valeur                  176600 non-null  float64
 12  Symbole                 176600 non-null  object
 13  Description du Symbole  176600 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 18.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            4411 non-null   object
 1   Domaine                 4411 non-null   object
 2   Code zone               4411 non-null   int64
 3   Zone                    4411 non-null   object
 4   Code Élément            4411 non-null   int64
 5   Élément                 4411 non-null   object
 6   Code Produit            4411 non-null   int64
 7   Produit                 4411 non-null   object
 8   Code année              4411 non-null   int64
 9   Année                   4411 non-null   int64
 10  Unité                   4411 non-null   object
 11  Valeur                  4411 non-null   float64
 12  Symbole                 4411 non-null   object
 13  Description du Symbole  4411 non-null   object
 14  Note                    258 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 517.0+ KB

In [50]:
dispo_ali.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

In [51]:
population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [52]:
df_dispo_ali=dispo_ali.pivot_table(index=["Zone","Produit"],columns="Élément",values="Valeur",aggfunc="sum")
df_dispo_ali.head()

Élément                             Alimentation pour touristes  \
Zone        Produit
Afghanistan Abats Comestible                                NaN
            Agrumes, Autres                                 NaN
            Alcool, non Comestible                          NaN
            Aliments pour enfants                           NaN
            Ananas et produits                              NaN

Élément                             Aliments pour animaux  \
Zone        Produit
Afghanistan Abats Comestible                          NaN
            Agrumes, Autres                           NaN
            Alcool, non Comestible                    NaN
            Aliments pour enfants                     NaN
            Ananas et produits                        NaN

Élément                             Autres utilisations (non alimentaire)  \
Zone        Produit
Afghanistan Abats Comestible                                          NaN
            Agrumes, Autres                                           NaN
            Alcool, non Comestible                                    NaN
            Aliments pour enfants                                     NaN
            Ananas et produits                                        NaN

Élément                             Disponibilité alimentaire (Kcal/personne/jour)  \
Zone        Produit
Afghanistan Abats Comestible                                                   5.0
            Agrumes, Autres                                                    1.0
            Alcool, non Comestible                                             NaN
            Aliments pour enfants                                              1.0
            Ananas et produits                                                 0.0

Élément                             Disponibilité alimentaire en quantité (kg/personne/an)  \
Zone        Produit
Afghanistan Abats Comestible                                                     1.47
            Agrumes, Autres                                                      1.32
            Alcool, non Comestible                                                NaN
            Aliments pour enfants                                                0.10
            Ananas et produits                                                   0.00

Élément                             Disponibilité de matière grasse en quantité (g/personne/jour)  \
Zone        Produit
Afghanistan Abats Comestible                                                     0.19
            Agrumes, Autres                                                      0.01
            Alcool, non Comestible                                                NaN
            Aliments pour enfants                                                0.01
            Ananas et produits                                                   0.00

Élément                             Disponibilité de protéines en quantité (g/personne/jour)  \
Zone        Produit
Afghanistan Abats Comestible                                                     0.64
            Agrumes, Autres                                                      0.02
            Alcool, non Comestible                                                NaN
            Aliments pour enfants                                                0.04
            Ananas et produits                                                   0.00

Élément                             Disponibilité intérieure  \
Zone        Produit
Afghanistan Abats Comestible                            53.0
            Agrumes, Autres                             50.0
            Alcool, non Comestible                       0.0
            Aliments pour enfants                        4.0
            Ananas et produits                           0.0

Élément                             Exportations - Quantité  \
Zone        Produit
Afghanistan Abats Comestible                            NaN
            Agrumes, Autres                             0.0
            Alcool, non Comestible                      NaN
            Aliments pour enfants                       NaN
            Ananas et produits                          0.0

Élément                             Importations - Quantité  Nourriture  \
Zone        Produit
Afghanistan Abats Comestible                            6.0        53.0
            Agrumes, Autres                            33.0        48.0
            Alcool, non Comestible                      0.0         NaN
            Aliments pour enfants                       4.0         4.0
            Ananas et produits                          0.0         0.0

Élément                             Pertes  Production  Résidus  Semences  \
Zone        Produit
Afghanistan Abats Comestible           NaN        48.0      0.0       NaN
            Agrumes, Autres            2.0        17.0      0.0       NaN
            Alcool, non Comestible     NaN         NaN      0.0       NaN
            Aliments pour enfants      NaN         NaN      NaN       NaN
            Ananas et produits         NaN         NaN      0.0       NaN

Élément                             Traitement  Variation de stock
Zone        Produit
Afghanistan Abats Comestible               NaN                 NaN
            Agrumes, Autres                NaN                 NaN
            Alcool, non Comestible         NaN                 0.0
            Aliments pour enfants          NaN                 NaN
            Ananas et produits             NaN                 NaN

In [53]:
df_dispo_ali_col=df_dispo_ali[["Disponibilité intérieure",
                              "Exportations - Quantité","Importations - Quantité","Nourriture",
                              "Pertes","Production"]]
df_dispo_ali_col.head()

Élément                             Disponibilité intérieure  \
Zone        Produit
Afghanistan Abats Comestible                            53.0
            Agrumes, Autres                             50.0
            Alcool, non Comestible                       0.0
            Aliments pour enfants                        4.0
            Ananas et produits                           0.0

Élément                             Exportations - Quantité  \
Zone        Produit
Afghanistan Abats Comestible                            NaN
            Agrumes, Autres                             0.0
            Alcool, non Comestible                      NaN
            Aliments pour enfants                       NaN
            Ananas et produits                          0.0

Élément                             Importations - Quantité  Nourriture  \
Zone        Produit
Afghanistan Abats Comestible                            6.0        53.0
            Agrumes, Autres                            33.0        48.0
            Alcool, non Comestible                      0.0         NaN
            Aliments pour enfants                       4.0         4.0
            Ananas et produits                          0.0         0.0

Élément                             Pertes  Production
Zone        Produit
Afghanistan Abats Comestible           NaN        48.0
            Agrumes, Autres            2.0        17.0
            Alcool, non Comestible     NaN         NaN
            Aliments pour enfants      NaN         NaN
            Ananas et produits         NaN         NaN

In [54]:
df_dispo_ali_col.reset_index(inplace=True)
df_dispo_ali_col.head()

Élément,Zone,Produit,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production
0,Afghanistan,Abats Comestible,53.0,NaN,6.0,53.0,NaN,48.0
1,Afghanistan,"Agrumes, Autres",50.0,0.0,33.0,48.0,2.0,17.0
2,Afghanistan,"Alcool, non Comestible",0.0,NaN,0.0,NaN,NaN,NaN
3,Afghanistan,Aliments pour enfants,4.0,NaN,4.0,4.0,NaN,NaN
4,Afghanistan,Ananas et produits,0.0,0.0,0.0,0.0,NaN,NaN

In [55]:
df_dispo_ali_col.rename_axis(columns=None,inplace=True)
df_dispo_ali_col.head()

,Zone,Produit,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production
0,Afghanistan,Abats Comestible,53.0,NaN,6.0,53.0,NaN,48.0
1,Afghanistan,"Agrumes, Autres",50.0,0.0,33.0,48.0,2.0,17.0
2,Afghanistan,"Alcool, non Comestible",0.0,NaN,0.0,NaN,NaN,NaN
3,Afghanistan,Aliments pour enfants,4.0,NaN,4.0,4.0,NaN,NaN
4,Afghanistan,Ananas et produits,0.0,0.0,0.0,0.0,NaN,NaN

In [56]:
df_dispo_ali_col.Produit.unique()

array(['Abats Comestible', 'Agrumes, Autres', 'Alcool, non Comestible',
       'Aliments pour enfants', 'Ananas et produits',
       'Arachides Decortiquees', 'Avoine', 'Bananes', 'Beurre, Ghee',
       'Bière', 'Blé et produits', 'Boissons Alcooliques',
       'Boissons Fermentés', 'Café et produits',
       'Citrons & Limes et produits', 'Coco (Incl Coprah)', 'Crème',
       'Céréales, Autres', 'Dattes', 'Edulcorants Autres',
       'Feve de Cacao et produits', 'Fruits, Autres', 'Girofles',
       'Graines Colza/Moutarde', 'Graines de coton',
       'Graines de tournesol', 'Graisses Animales Crue', 'Haricots',
       'Huil Plantes Oleif Autr', 'Huile Graines de Coton',
       "Huile d'Arachide", "Huile d'Olive", 'Huile de Coco',
       'Huile de Colza&Moutarde', 'Huile de Germe de Maïs',
       'Huile de Palme', 'Huile de Palmistes', 'Huile de Soja',
       'Huile de Son de Riz', 'Huile de Sésame', 'Huile de Tournesol',
       'Ignames', 'Lait - Excl Beurre', 'Légumes, Autres',
       'Légumineuses Autres et produits', 'Maïs et produits', 'Miel',
       'Millet et produits', 'Miscellanees', 'Noix et produits', 'Oeufs',
       'Oignons', 'Olives', 'Oranges, Mandarines', 'Orge et produits',
       'Pamplemousse et produits', 'Piments', 'Plantes Oleiferes, Autre',
       'Pois', 'Poissons Eau Douce', 'Poivre',
       'Pommes de Terre et produits', 'Pommes et produits', 'Racines nda',
       'Raisin', 'Riz et produits', 'Seigle et produits', 'Soja',
       'Sorgho et produits', 'Sucre Eq Brut', 'Sucre, betterave',
       'Sucre, canne', 'Sésame', 'Thé', 'Tomates et produits',
       "Viande d'Ovins/Caprins", 'Viande de Bovins', 'Viande de Suides',
       'Viande de Volailles', 'Viande, Autre', 'Vin', 'Épices, Autres',
       'Animaux Aquatiques Autre', 'Bananes plantains', 'Cephalopodes',
       'Crustacés', 'Huiles de Foie de Poisso', 'Huiles de Poissons',
       'Manioc et produits', 'Mollusques, Autres', 'Palmistes',
       'Patates douces', 'Perciform', 'Plantes Aquatiques',
       'Poissons Marins, Autres', 'Poissons Pelagiques',
       'Sucre non centrifugé', 'Viande de Anim Aquatiq'], dtype=object)

In [57]:
volaille=["Viande de Volailles"]
autres_viandes=["Viande d'Ovins/Caprins", 'Viande de Bovins', 'Viande de Suides']
cereales=['Céréales, Autres','Millet et produits']

In [58]:
def type_produit (produit):
    if produit in volaille : 
        return "volaille"
    if produit in autres_viandes : 
        return "autres viandes"
    if produit in cereales : 
        return "cereales"
    else :
        return "autres"

In [59]:
df_dispo_ali_col["Type_produit"]=df_dispo_ali_col.Produit.apply(type_produit)
df_dispo_ali_col.head(50)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_20620\1814207899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dispo_ali_col["Type_produit"]=df_dispo_ali_col.Produit.apply(type_produit)

,Zone,Produit,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Type_produit
0,Afghanistan,Abats Comestible,53.0,NaN,6.0,53.0,NaN,48.0,autres
1,Afghanistan,"Agrumes, Autres",50.0,0.0,33.0,48.0,2.0,17.0,autres
2,Afghanistan,"Alcool, non Comestible",0.0,NaN,0.0,NaN,NaN,NaN,autres
3,Afghanistan,Aliments pour enfants,4.0,NaN,4.0,4.0,NaN,NaN,autres
4,Afghanistan,Ananas et produits,0.0,0.0,0.0,0.0,NaN,NaN,autres
5,Afghanistan,Arachides Decortiquees,2.0,2.0,4.0,1.0,NaN,NaN,autres
6,Afghanistan,Avoine,0.0,NaN,0.0,0.0,NaN,NaN,autres
7,Afghanistan,Bananes,133.0,0.0,133.0,133.0,NaN,NaN,autres
8,Afghanistan,"Beurre, Ghee",37.0,NaN,0.0,37.0,NaN,36.0,autres
9,Afghanistan,Bière,0.0,NaN,0.0,0.0,NaN,NaN,autres
10,Afghanistan,Blé et produits,6701.0,0.0,2302.0,5640.0,642.0,4281.0,autres
11,Afghanistan,Boissons Alcooliques,0.0,0.0,0.0,0.0,NaN,NaN,autres
12,Afghanistan,Boissons Fermentés,0.0,NaN,0.0,0.0,NaN,NaN,autres
13,Afghanistan,Café et produits,1.0,0.0,1.0,1.0,NaN,NaN,autres
14,Afghanistan,Citrons & Limes et produits,0.0,0.0,0.0,0.0,NaN,NaN,autres
15,Afghanistan,Coco (Incl Coprah),0.0,1.0,1.0,0.0,NaN,0.0,autres
16,Afghanistan,Crème,0.0,NaN,0.0,0.0,NaN,NaN,autres
17,Afghanistan,"Céréales, Autres",0.0,NaN,0.0,0.0,NaN,NaN,cereales
18,Afghanistan,Dattes,0.0,0.0,0.0,0.0,NaN,NaN,autres
19,Afghanistan,Edulcorants Autres,17.0,0.0,17.0,17.0,NaN,0.0,autres
20,Afghanistan,Feve de Cacao et produits,0.0,0.0,0.0,0.0,NaN,NaN,autres
21,Afghanistan,"Fruits, Autres",288.0,89.0,6.0,295.0,21.0,371.0,autres
22,Afghanistan,Girofles,0.0,0.0,0.0,NaN,NaN,NaN,autres
23,Afghanistan,Graines Colza/Moutarde,1.0,NaN,1.0,NaN,NaN,NaN,autres
24,Afghanistan,Graines de coton,37.0,0.0,0.0,NaN,NaN,37.0,autres
25,Afghanistan,Graines de tournesol,9.0,0.0,8.0,NaN,0.0,1.0,autres
26,Afghanistan,Graisses Animales Crue,15.0,NaN,1.0,15.0,NaN,15.0,autres
27,Afghanistan,Haricots,0.0,33.0,0.0,NaN,NaN,NaN,autres
28,Afghanistan,Huil Plantes Oleif Autr,14.0,0.0,0.0,0.0,NaN,14.0,autres
29,Afghanistan,Huile Graines de Coton,5.0,NaN,0.0,4.0,NaN,6.0,autres
30,Afghanistan,Huile d'Arachide,0.0,NaN,0.0,0.0,NaN,NaN,autres
31,Afghanistan,Huile d'Olive,1.0,NaN,0.0,1.0,NaN,1.0,autres
32,Afghanistan,Huile de Coco,0.0,NaN,0.0,0.0,NaN,NaN,autres
33,Afghanistan,Huile de Colza&Moutarde,2.0,NaN,2.0,2.0,NaN,NaN,autres
34,Afghanistan,Huile de Germe de Maïs,0.0,NaN,2.0,0.0,NaN,NaN,autres
35,Afghanistan,Huile de Palme,146.0,0.0,175.0,67.0,NaN,NaN,autres
36,Afghanistan,Huile de Palmistes,0.0,NaN,0.0,0.0,NaN,NaN,autres
37,Afghanistan,Huile de Soja,11.0,NaN,11.0,11.0,NaN,NaN,autres
38,Afghanistan,Huile de Son de Riz,0.0,NaN,0.0,0.0,NaN,NaN,autres
39,Afghanistan,Huile de Sésame,1.0,NaN,0.0,1.0,NaN,1.0,autres
40,Afghanistan,Huile de Tournesol,53.0,0.0,51.0,53.0,NaN,2.0,autres
41,Afghanistan,Ignames,0.0,1.0,NaN,NaN,NaN,NaN,autres
42,Afghanistan,Lait - Excl Beurre,2190.0,0.0,74.0,1967.0,67.0,2116.0,autres
43,Afghanistan,"Légumes, Autres",1738.0,66.0,113.0,1541.0,215.0,1690.0,autres
44,Afghanistan,Légumineuses Autres et produits,89.0,12.0,52.0,77.0,2.0,37.0,autres
45,Afghanistan,Maïs et produits,208.0,0.0,13.0,50.0,26.0,174.0,autres
46,Afghanistan,Miel,2.0,NaN,0.0,1.0,0.0,1.0,autres
47,Afghanistan,Millet et produits,10.0,NaN,0.0,9.0,0.0,9.0,cereales
48,Afghanistan,Miscellanees,15.0,0.0,15.0,15.0,NaN,NaN,autres
49,Afghanistan,Noix et produits,22.0,19.0,1.0,20.0,2.0,38.0,autres

In [60]:
df_dispo_semifinal=df_dispo_ali_col[df_dispo_ali_col["Type_produit"]!="autres"].groupby(["Zone","Type_produit"]).sum()
df_dispo_semifinal.head()

                               Disponibilité intérieure  \
Zone           Type_produit
Afghanistan    autres viandes                     260.0
               cereales                            10.0
               volaille                            57.0
Afrique du Sud autres viandes                    1404.0
               cereales                            75.0

                               Exportations - Quantité  \
Zone           Type_produit
Afghanistan    autres viandes                      0.0
               cereales                            0.0
               volaille                            0.0
Afrique du Sud autres viandes                     76.0
               cereales                           16.0

                               Importations - Quantité  Nourriture  Pertes  \
Zone           Type_produit
Afghanistan    autres viandes                      6.0       246.0    14.0
               cereales                            0.0         9.0     0.0
               volaille                           29.0        55.0     2.0
Afrique du Sud autres viandes                     56.0      1348.0    71.0
               cereales                           15.0        56.0     1.0

                               Production
Zone           Type_produit
Afghanistan    autres viandes       254.0
               cereales               9.0
               volaille              28.0
Afrique du Sud autres viandes      1420.0
               cereales              74.0

In [61]:
df_seminifal=df_dispo_semifinal.pivot_table(index="Zone",columns=["Type_produit"],
                               values=["Disponibilité intérieure","Exportations - Quantité","Importations - Quantité",
                                       "Nourriture","Pertes","Production"],aggfunc="sum")
df_seminifal.head()

               Disponibilité intérieure                    \
Type_produit             autres viandes cereales volaille
Zone
Afghanistan                       260.0     10.0     57.0
Afrique du Sud                   1404.0     75.0   2118.0
Albanie                            89.0      0.0     47.0
Algérie                           490.0      8.0    277.0
Allemagne                        5475.0   2228.0   1739.0

               Exportations - Quantité                    \
Type_produit            autres viandes cereales volaille
Zone
Afghanistan                        0.0      0.0      0.0
Afrique du Sud                    76.0     16.0     63.0
Albanie                            0.0      0.0      0.0
Algérie                            0.0      0.0      0.0
Allemagne                       2956.0    250.0    646.0

               Importations - Quantité                       Nourriture  \
Type_produit            autres viandes cereales volaille autres viandes
Zone
Afghanistan                        6.0      0.0     29.0          246.0
Afrique du Sud                    56.0     15.0    514.0         1348.0
Albanie                           12.0      1.0     38.0           89.0
Algérie                           50.0      8.0      2.0          469.0
Allemagne                       1725.0    416.0    842.0         5470.0

                                         Pertes                    \
Type_produit   cereales volaille autres viandes cereales volaille
Zone
Afghanistan         9.0     55.0           14.0      0.0      2.0
Afrique du Sud     56.0   2035.0           71.0      1.0     83.0
Albanie             0.0     47.0            0.0      0.0      0.0
Algérie             3.0    264.0           22.0      0.0     13.0
Allemagne          20.0   1609.0            5.0     73.0      0.0

                   Production
Type_produit   autres viandes cereales volaille
Zone
Afghanistan             254.0      9.0     28.0
Afrique du Sud         1420.0     74.0   1667.0
Albanie                  77.0      0.0     13.0
Algérie                 440.0      0.0    275.0
Allemagne              6675.0   2360.0   1514.0

In [62]:
df_seminifal.reset_index(inplace=True)
df_seminifal.head()

                        Zone Disponibilité intérieure                    \
Type_produit                           autres viandes cereales volaille
0                Afghanistan                    260.0     10.0     57.0
1             Afrique du Sud                   1404.0     75.0   2118.0
2                    Albanie                     89.0      0.0     47.0
3                    Algérie                    490.0      8.0    277.0
4                  Allemagne                   5475.0   2228.0   1739.0

             Exportations - Quantité                    \
Type_produit          autres viandes cereales volaille
0                                0.0      0.0      0.0
1                               76.0     16.0     63.0
2                                0.0      0.0      0.0
3                                0.0      0.0      0.0
4                             2956.0    250.0    646.0

             Importations - Quantité                       Nourriture  \
Type_produit          autres viandes cereales volaille autres viandes
0                                6.0      0.0     29.0          246.0
1                               56.0     15.0    514.0         1348.0
2                               12.0      1.0     38.0           89.0
3                               50.0      8.0      2.0          469.0
4                             1725.0    416.0    842.0         5470.0

                                       Pertes                    \
Type_produit cereales volaille autres viandes cereales volaille
0                 9.0     55.0           14.0      0.0      2.0
1                56.0   2035.0           71.0      1.0     83.0
2                 0.0     47.0            0.0      0.0      0.0
3                 3.0    264.0           22.0      0.0     13.0
4                20.0   1609.0            5.0     73.0      0.0

                 Production
Type_produit autres viandes cereales volaille
0                     254.0      9.0     28.0
1                    1420.0     74.0   1667.0
2                      77.0      0.0     13.0
3                     440.0      0.0    275.0
4                    6675.0   2360.0   1514.0

In [64]:
df_seminifal.rename_axis(columns=None,inplace=True)
df_seminifal.head()

TypeError: Must pass list-like as `names`.

In [65]:
df_final=pd.merge(df_seminifal,population[population["Année"]==2017][["Zone","Valeur"]],on="Zone",how="left")
df_final.head()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_20620\955184604.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  df_final=pd.merge(df_seminifal,population[population["Année"]==2017][["Zone","Valeur"]],on="Zone",how="left")

,Zone,"(Zone, )","(Disponibilité intérieure, autres viandes)","(Disponibilité intérieure, cereales)","(Disponibilité intérieure, volaille)","(Exportations - Quantité, autres viandes)","(Exportations - Quantité, cereales)","(Exportations - Quantité, volaille)","(Importations - Quantité, autres viandes)","(Importations - Quantité, cereales)",...,"(Nourriture, autres viandes)","(Nourriture, cereales)","(Nourriture, volaille)","(Pertes, autres viandes)","(Pertes, cereales)","(Pertes, volaille)","(Production, autres viandes)","(Production, cereales)","(Production, volaille)",Valeur
0,Afghanistan,Afghanistan,260.0,10.0,57.0,0.0,0.0,0.0,6.0,0.0,...,246.0,9.0,55.0,14.0,0.0,2.0,254.0,9.0,28.0,36296.113
1,Afrique du Sud,Afrique du Sud,1404.0,75.0,2118.0,76.0,16.0,63.0,56.0,15.0,...,1348.0,56.0,2035.0,71.0,1.0,83.0,1420.0,74.0,1667.0,57009.756
2,Albanie,Albanie,89.0,0.0,47.0,0.0,0.0,0.0,12.0,1.0,...,89.0,0.0,47.0,0.0,0.0,0.0,77.0,0.0,13.0,2884.169
3,Algérie,Algérie,490.0,8.0,277.0,0.0,0.0,0.0,50.0,8.0,...,469.0,3.0,264.0,22.0,0.0,13.0,440.0,0.0,275.0,41389.189
4,Allemagne,Allemagne,5475.0,2228.0,1739.0,2956.0,250.0,646.0,1725.0,416.0,...,5470.0,20.0,1609.0,5.0,73.0,0.0,6675.0,2360.0,1514.0,82658.409

In [15]:
df_final[df_final.Zone.str.contains('Chine')]

,index,Zone,"(Disponibilité intérieure, autres viandes)","(Disponibilité intérieure, cereales)","(Disponibilité intérieure, volaille)","(Exportations - Quantité, autres viandes)","(Exportations - Quantité, cereales)","(Exportations - Quantité, volaille)","(Importations - Quantité, autres viandes)","(Importations - Quantité, cereales)",...,"(Nourriture, autres viandes)","(Nourriture, cereales)","(Nourriture, volaille)","(Pertes, autres viandes)","(Pertes, cereales)","(Pertes, volaille)","(Production, autres viandes)","(Production, cereales)","(Production, volaille)",Valeur
31,31,Chine - RAS de Hong-Kong,920.0,16.0,280.0,171.0,13.0,663.0,952.0,30.0,...,589.0,17.0,391.0,0.0,0.0,0.0,123.0,0.0,24.0,7306.322
32,32,Chine - RAS de Macao,40.0,1.0,19.0,0.0,0.0,0.0,36.0,1.0,...,41.0,1.0,21.0,0.0,0.0,0.0,8.0,0.0,3.0,622.585
33,33,"Chine, Taiwan Province de",1054.0,18.0,785.0,3.0,1.0,8.0,237.0,20.0,...,1050.0,16.0,785.0,0.0,0.0,0.0,818.0,0.0,652.0,23674.546
34,34,"Chine, continentale",69100.0,4121.0,18161.0,303.0,110.0,576.0,2612.0,50.0,...,65809.0,1561.0,17518.0,3307.0,210.0,643.0,66454.0,4649.0,18236.0,1421021.791

In [16]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 21 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   index                                       172 non-null    int64
 1   Zone                                        172 non-null    object
 2   (Disponibilité intérieure, autres viandes)  172 non-null    float64
 3   (Disponibilité intérieure, cereales)        172 non-null    float64
 4   (Disponibilité intérieure, volaille)        172 non-null    float64
 5   (Exportations - Quantité, autres viandes)   172 non-null    float64
 6   (Exportations - Quantité, cereales)         172 non-null    float64
 7   (Exportations - Quantité, volaille)         172 non-null    float64
 8   (Importations - Quantité, autres viandes)   172 non-null    float64
 9   (Importations - Quantité, cereales)         172 non-null    float64
 10  (Importations - Quantité, volaille)         172 non-null    float64
 11  (Nourriture, autres viandes)                172 non-null    float64
 12  (Nourriture, cereales)                      172 non-null    float64
 13  (Nourriture, volaille)                      172 non-null    float64
 14  (Pertes, autres viandes)                    172 non-null    float64
 15  (Pertes, cereales)                          172 non-null    float64
 16  (Pertes, volaille)                          172 non-null    float64
 17  (Production, autres viandes)                172 non-null    float64
 18  (Production, cereales)                      172 non-null    float64
 19  (Production, volaille)                      172 non-null    float64
 20  Valeur                                      172 non-null    float64
dtypes: float64(19), int64(1), object(1)
memory usage: 28.3+ KB

In [17]:
df_final.rename(columns={"Valeur": "Population"},inplace=True)
df_final.head()

,index,Zone,"(Disponibilité intérieure, autres viandes)","(Disponibilité intérieure, cereales)","(Disponibilité intérieure, volaille)","(Exportations - Quantité, autres viandes)","(Exportations - Quantité, cereales)","(Exportations - Quantité, volaille)","(Importations - Quantité, autres viandes)","(Importations - Quantité, cereales)",...,"(Nourriture, autres viandes)","(Nourriture, cereales)","(Nourriture, volaille)","(Pertes, autres viandes)","(Pertes, cereales)","(Pertes, volaille)","(Production, autres viandes)","(Production, cereales)","(Production, volaille)",Population
0,0,Afghanistan,260.0,10.0,57.0,0.0,0.0,0.0,6.0,0.0,...,246.0,9.0,55.0,14.0,0.0,2.0,254.0,9.0,28.0,36296.113
1,1,Afrique du Sud,1404.0,75.0,2118.0,76.0,16.0,63.0,56.0,15.0,...,1348.0,56.0,2035.0,71.0,1.0,83.0,1420.0,74.0,1667.0,57009.756
2,2,Albanie,89.0,0.0,47.0,0.0,0.0,0.0,12.0,1.0,...,89.0,0.0,47.0,0.0,0.0,0.0,77.0,0.0,13.0,2884.169
3,3,Algérie,490.0,8.0,277.0,0.0,0.0,0.0,50.0,8.0,...,469.0,3.0,264.0,22.0,0.0,13.0,440.0,0.0,275.0,41389.189
4,4,Allemagne,5475.0,2228.0,1739.0,2956.0,250.0,646.0,1725.0,416.0,...,5470.0,20.0,1609.0,5.0,73.0,0.0,6675.0,2360.0,1514.0,82658.409

In [18]:
pib=pd.read_csv('C:/Users/lenovo/OneDrive/Desktop/DAN-P9-data/pib_valeurAjoutee.csv',delimiter=";")
pib.head()

,Zone,Produit,Année,Unité,Valeur
0,Afghanistan,Produit Intérieur Brut,2017,Millions d’USD,18896.352020
1,Afghanistan,"Valeur ajoutée (agriculture, sylviculture et p...",2017,Millions d’USD,4992.453824
2,Afrique du Sud,Produit Intérieur Brut,2017,Millions d’USD,380851.444100
3,Afrique du Sud,"Valeur ajoutée (agriculture, sylviculture et p...",2017,Millions d’USD,9497.680787
4,Albanie,Produit Intérieur Brut,2017,Millions d’USD,13019.729860

In [19]:
df_pib=pib.pivot_table(index="Zone",columns=["Produit"],
                               values=["Valeur"],aggfunc="sum")
df_pib.head()

                               Valeur  \
Produit        Produit Intérieur Brut
Zone
Afghanistan              1.889635e+04
Afrique du Sud           3.808514e+05
Albanie                  1.301973e+04
Algérie                  1.700970e+05
Allemagne                3.690849e+06


Produit        Valeur ajoutée (agriculture, sylviculture et pêche)
Zone
Afghanistan                                           4992.453824
Afrique du Sud                                        9497.680787
Albanie                                               2476.629502
Algérie                                              19996.432170
Allemagne                                            31436.767780

In [20]:
stab=pd.read_csv('C:/Users/lenovo/OneDrive/Desktop/DAN-P9-data/sous_ali.csv',delimiter=";")
stab.head()

,Zone,Produit,Année,Valeur
0,Pays-Bas (Royaume des),Prévalence de la sous-alimentation (%) (moyenn...,2016-2018,0.00
1,Pays-Bas (Royaume des),Stabilité politique et absence de violence/ter...,2017,0.92
2,Afghanistan,Prévalence de la sous-alimentation (%) (moyenn...,2016-2018,22.70
3,Afghanistan,Stabilité politique et absence de violence/ter...,2017,-2.80
4,Afrique du Sud,Prévalence de la sous-alimentation (%) (moyenn...,2016-2018,5.70

In [21]:
df_stab=stab.pivot_table(index="Zone",columns=["Produit"],
                               values=["Valeur"],aggfunc="sum")
df_stab.head()

                                                                   Valeur  \
Produit        Prévalence de la sous-alimentation (%) (moyenne sur 3 ans)
Zone
Afghanistan                                                  22.7
Afrique du Sud                                                5.7
Albanie                                                       4.2
Algérie                                                       2.6
Allemagne                                                     0.0


Produit        Stabilité politique et absence de violence/terrorisme (indice)
Zone
Afghanistan                                                 -2.80
Afrique du Sud                                              -0.28
Albanie                                                      0.38
Algérie                                                     -0.92
Allemagne                                                    0.59

In [22]:
df_fin1=pd.merge(df_final,df_pib,on="Zone",how="left")
df_fin1.head()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_20620\315477688.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  df_fin1=pd.merge(df_final,df_pib,on="Zone",how="left")

,index,Zone,"(Disponibilité intérieure, autres viandes)","(Disponibilité intérieure, cereales)","(Disponibilité intérieure, volaille)","(Exportations - Quantité, autres viandes)","(Exportations - Quantité, cereales)","(Exportations - Quantité, volaille)","(Importations - Quantité, autres viandes)","(Importations - Quantité, cereales)",...,"(Nourriture, volaille)","(Pertes, autres viandes)","(Pertes, cereales)","(Pertes, volaille)","(Production, autres viandes)","(Production, cereales)","(Production, volaille)",Population,"(Valeur, Produit Intérieur Brut)","(Valeur, Valeur ajoutée (agriculture, sylviculture et pêche))"
0,0,Afghanistan,260.0,10.0,57.0,0.0,0.0,0.0,6.0,0.0,...,55.0,14.0,0.0,2.0,254.0,9.0,28.0,36296.113,1.889635e+04,4992.453824
1,1,Afrique du Sud,1404.0,75.0,2118.0,76.0,16.0,63.0,56.0,15.0,...,2035.0,71.0,1.0,83.0,1420.0,74.0,1667.0,57009.756,3.808514e+05,9497.680787
2,2,Albanie,89.0,0.0,47.0,0.0,0.0,0.0,12.0,1.0,...,47.0,0.0,0.0,0.0,77.0,0.0,13.0,2884.169,1.301973e+04,2476.629502
3,3,Algérie,490.0,8.0,277.0,0.0,0.0,0.0,50.0,8.0,...,264.0,22.0,0.0,13.0,440.0,0.0,275.0,41389.189,1.700970e+05,19996.432170
4,4,Allemagne,5475.0,2228.0,1739.0,2956.0,250.0,646.0,1725.0,416.0,...,1609.0,5.0,73.0,0.0,6675.0,2360.0,1514.0,82658.409,3.690849e+06,31436.767780

In [23]:

df_fin1[df_fin1.Zone.str.contains('Chine')]

,level_0,index,Zone,"(Disponibilité intérieure, autres viandes)","(Disponibilité intérieure, cereales)","(Disponibilité intérieure, volaille)","(Exportations - Quantité, autres viandes)","(Exportations - Quantité, cereales)","(Exportations - Quantité, volaille)","(Importations - Quantité, autres viandes)",...,"(Nourriture, volaille)","(Pertes, autres viandes)","(Pertes, cereales)","(Pertes, volaille)","(Production, autres viandes)","(Production, cereales)","(Production, volaille)",Population,"(Valeur, Produit Intérieur Brut)","(Valeur, Valeur ajoutée (agriculture, sylviculture et pêche))"
31,31,31,Chine - RAS de Hong-Kong,920.0,16.0,280.0,171.0,13.0,663.0,952.0,...,391.0,0.0,0.0,0.0,123.0,0.0,24.0,7306.322,3.412711e+05,222.756873
32,32,32,Chine - RAS de Macao,40.0,1.0,19.0,0.0,0.0,0.0,36.0,...,21.0,0.0,0.0,0.0,8.0,0.0,3.0,622.585,5.044094e+04,NaN
33,33,33,"Chine, Taiwan Province de",1054.0,18.0,785.0,3.0,1.0,8.0,237.0,...,785.0,0.0,0.0,0.0,818.0,0.0,652.0,23674.546,NaN,NaN
34,34,34,"Chine, continentale",69100.0,4121.0,18161.0,303.0,110.0,576.0,2612.0,...,17518.0,3307.0,210.0,643.0,66454.0,4649.0,18236.0,1421021.791,1.231049e+07,956685.057700

In [24]:
df_final2=pd.merge(df_fin1,df_stab,on="Zone",how="left")
df_final2.head()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_20620\1895721244.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  df_final2=pd.merge(df_fin1,df_stab,on="Zone",how="left")

,level_0,index,Zone,"(Disponibilité intérieure, autres viandes)","(Disponibilité intérieure, cereales)","(Disponibilité intérieure, volaille)","(Exportations - Quantité, autres viandes)","(Exportations - Quantité, cereales)","(Exportations - Quantité, volaille)","(Importations - Quantité, autres viandes)",...,"(Pertes, cereales)","(Pertes, volaille)","(Production, autres viandes)","(Production, cereales)","(Production, volaille)",Population,"(Valeur, Produit Intérieur Brut)","(Valeur, Valeur ajoutée (agriculture, sylviculture et pêche))","(Valeur, Prévalence de la sous-alimentation (%) (moyenne sur 3 ans))","(Valeur, Stabilité politique et absence de violence/terrorisme (indice))"
0,0,0,Afghanistan,260.0,10.0,57.0,0.0,0.0,0.0,6.0,...,0.0,2.0,254.0,9.0,28.0,36296.113,1.889635e+04,4992.453824,22.7,-2.80
1,1,1,Afrique du Sud,1404.0,75.0,2118.0,76.0,16.0,63.0,56.0,...,1.0,83.0,1420.0,74.0,1667.0,57009.756,3.808514e+05,9497.680787,5.7,-0.28
2,2,2,Albanie,89.0,0.0,47.0,0.0,0.0,0.0,12.0,...,0.0,0.0,77.0,0.0,13.0,2884.169,1.301973e+04,2476.629502,4.2,0.38
3,3,3,Algérie,490.0,8.0,277.0,0.0,0.0,0.0,50.0,...,0.0,13.0,440.0,0.0,275.0,41389.189,1.700970e+05,19996.432170,2.6,-0.92
4,4,4,Allemagne,5475.0,2228.0,1739.0,2956.0,250.0,646.0,1725.0,...,73.0,0.0,6675.0,2360.0,1514.0,82658.409,3.690849e+06,31436.767780,0.0,0.59

In [25]:

df_final2[df_final2.Zone.str.contains('Chine')]

,level_0,index,Zone,"(Disponibilité intérieure, autres viandes)","(Disponibilité intérieure, cereales)","(Disponibilité intérieure, volaille)","(Exportations - Quantité, autres viandes)","(Exportations - Quantité, cereales)","(Exportations - Quantité, volaille)","(Importations - Quantité, autres viandes)",...,"(Pertes, cereales)","(Pertes, volaille)","(Production, autres viandes)","(Production, cereales)","(Production, volaille)",Population,"(Valeur, Produit Intérieur Brut)","(Valeur, Valeur ajoutée (agriculture, sylviculture et pêche))","(Valeur, Prévalence de la sous-alimentation (%) (moyenne sur 3 ans))","(Valeur, Stabilité politique et absence de violence/terrorisme (indice))"
31,31,31,Chine - RAS de Hong-Kong,920.0,16.0,280.0,171.0,13.0,663.0,952.0,...,0.0,0.0,123.0,0.0,24.0,7306.322,3.412711e+05,222.756873,0.0,0.83
32,32,32,Chine - RAS de Macao,40.0,1.0,19.0,0.0,0.0,0.0,36.0,...,0.0,0.0,8.0,0.0,3.0,622.585,5.044094e+04,NaN,5.6,1.43
33,33,33,"Chine, Taiwan Province de",1054.0,18.0,785.0,3.0,1.0,8.0,237.0,...,0.0,0.0,818.0,0.0,652.0,23674.546,NaN,NaN,4.2,NaN
34,34,34,"Chine, continentale",69100.0,4121.0,18161.0,303.0,110.0,576.0,2612.0,...,210.0,643.0,66454.0,4649.0,18236.0,1421021.791,1.231049e+07,956685.057700,0.0,NaN

In [26]:
df_final2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172 entries, 0 to 171
Data columns (total 26 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   level_0                                                                   172 non-null    int64
 1   index                                                                     172 non-null    int64
 2   Zone                                                                      172 non-null    object
 3   (Disponibilité intérieure, autres viandes)                                172 non-null    float64
 4   (Disponibilité intérieure, cereales)                                      172 non-null    float64
 5   (Disponibilité intérieure, volaille)                                      172 non-null    float64
 6   (Exportations - Quantité, autres viandes)                                 172 non-null    float64
 7   (Exportations - Quantité, cereales)                                       172 non-null    float64
 8   (Exportations - Quantité, volaille)                                       172 non-null    float64
 9   (Importations - Quantité, autres viandes)                                 172 non-null    float64
 10  (Importations - Quantité, cereales)                                       172 non-null    float64
 11  (Importations - Quantité, volaille)                                       172 non-null    float64
 12  (Nourriture, autres viandes)                                              172 non-null    float64
 13  (Nourriture, cereales)                                                    172 non-null    float64
 14  (Nourriture, volaille)                                                    172 non-null    float64
 15  (Pertes, autres viandes)                                                  172 non-null    float64
 16  (Pertes, cereales)                                                        172 non-null    float64
 17  (Pertes, volaille)                                                        172 non-null    float64
 18  (Production, autres viandes)                                              172 non-null    float64
 19  (Production, cereales)                                                    172 non-null    float64
 20  (Production, volaille)                                                    172 non-null    float64
 21  Population                                                                172 non-null    float64
 22  (Valeur, Produit Intérieur Brut)                                          170 non-null    float64
 23  (Valeur, Valeur ajoutée (agriculture, sylviculture et pêche))             169 non-null    float64
 24  (Valeur, Prévalence de la sous-alimentation (%) (moyenne sur 3 ans))      171 non-null    float64
 25  (Valeur, Stabilité politique et absence de violence/terrorisme (indice))  167 non-null    float64
dtypes: float64(23), int64(2), object(1)
memory usage: 36.3+ KB

In [27]:
list(df_final2.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171]

In [28]:
df_final2.dropna(inplace=True)
df_final2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166 entries, 0 to 171
Data columns (total 26 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   level_0                                                                   166 non-null    int64
 1   index                                                                     166 non-null    int64
 2   Zone                                                                      166 non-null    object
 3   (Disponibilité intérieure, autres viandes)                                166 non-null    float64
 4   (Disponibilité intérieure, cereales)                                      166 non-null    float64
 5   (Disponibilité intérieure, volaille)                                      166 non-null    float64
 6   (Exportations - Quantité, autres viandes)                                 166 non-null    float64
 7   (Exportations - Quantité, cereales)                                       166 non-null    float64
 8   (Exportations - Quantité, volaille)                                       166 non-null    float64
 9   (Importations - Quantité, autres viandes)                                 166 non-null    float64
 10  (Importations - Quantité, cereales)                                       166 non-null    float64
 11  (Importations - Quantité, volaille)                                       166 non-null    float64
 12  (Nourriture, autres viandes)                                              166 non-null    float64
 13  (Nourriture, cereales)                                                    166 non-null    float64
 14  (Nourriture, volaille)                                                    166 non-null    float64
 15  (Pertes, autres viandes)                                                  166 non-null    float64
 16  (Pertes, cereales)                                                        166 non-null    float64
 17  (Pertes, volaille)                                                        166 non-null    float64
 18  (Production, autres viandes)                                              166 non-null    float64
 19  (Production, cereales)                                                    166 non-null    float64
 20  (Production, volaille)                                                    166 non-null    float64
 21  Population                                                                166 non-null    float64
 22  (Valeur, Produit Intérieur Brut)                                          166 non-null    float64
 23  (Valeur, Valeur ajoutée (agriculture, sylviculture et pêche))             166 non-null    float64
 24  (Valeur, Prévalence de la sous-alimentation (%) (moyenne sur 3 ans))      166 non-null    float64
 25  (Valeur, Stabilité politique et absence de violence/terrorisme (indice))  166 non-null    float64
dtypes: float64(23), int64(2), object(1)
memory usage: 35.0+ KB

In [29]:
df_final2.columns

Index([                                                                   'level_0',
                                                                            'index',
                                                                             'Zone',
                                     ('Disponibilité intérieure', 'autres viandes'),
                                           ('Disponibilité intérieure', 'cereales'),
                                           ('Disponibilité intérieure', 'volaille'),
                                      ('Exportations - Quantité', 'autres viandes'),
                                            ('Exportations - Quantité', 'cereales'),
                                            ('Exportations - Quantité', 'volaille'),
                                      ('Importations - Quantité', 'autres viandes'),
                                            ('Importations - Quantité', 'cereales'),
                                            ('Importations - Quantité', 'volaille'),
                                                   ('Nourriture', 'autres viandes'),
                                                         ('Nourriture', 'cereales'),
                                                         ('Nourriture', 'volaille'),
                                                       ('Pertes', 'autres viandes'),
                                                             ('Pertes', 'cereales'),
                                                             ('Pertes', 'volaille'),
                                                   ('Production', 'autres viandes'),
                                                         ('Production', 'cereales'),
                                                         ('Production', 'volaille'),
                                                                       'Population',
                                               ('Valeur', 'Produit Intérieur Brut'),
                  ('Valeur', 'Valeur ajoutée (agriculture, sylviculture et pêche)'),
           ('Valeur', 'Prévalence de la sous-alimentation (%) (moyenne sur 3 ans)'),
       ('Valeur', 'Stabilité politique et absence de violence/terrorisme (indice)')],
      dtype='object')

In [30]:
df_final2.head()

,level_0,index,"(Disponibilité intérieure, autres viandes)","(Disponibilité intérieure, cereales)","(Disponibilité intérieure, volaille)","(Exportations - Quantité, autres viandes)","(Exportations - Quantité, cereales)","(Exportations - Quantité, volaille)","(Importations - Quantité, autres viandes)","(Importations - Quantité, cereales)",...,"(Pertes, cereales)","(Pertes, volaille)","(Production, autres viandes)","(Production, cereales)","(Production, volaille)",Population,"(Valeur, Produit Intérieur Brut)","(Valeur, Valeur ajoutée (agriculture, sylviculture et pêche))","(Valeur, Prévalence de la sous-alimentation (%) (moyenne sur 3 ans))","(Valeur, Stabilité politique et absence de violence/terrorisme (indice))"
Zone,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,260.0,10.0,57.0,0.0,0.0,0.0,6.0,0.0,...,0.0,2.0,254.0,9.0,28.0,36296.113,1.889635e+04,4992.453824,22.7,-2.80
Afrique du Sud,1,1,1404.0,75.0,2118.0,76.0,16.0,63.0,56.0,15.0,...,1.0,83.0,1420.0,74.0,1667.0,57009.756,3.808514e+05,9497.680787,5.7,-0.28
Albanie,2,2,89.0,0.0,47.0,0.0,0.0,0.0,12.0,1.0,...,0.0,0.0,77.0,0.0,13.0,2884.169,1.301973e+04,2476.629502,4.2,0.38
Algérie,3,3,490.0,8.0,277.0,0.0,0.0,0.0,50.0,8.0,...,0.0,13.0,440.0,0.0,275.0,41389.189,1.700970e+05,19996.432170,2.6,-0.92
Allemagne,4,4,5475.0,2228.0,1739.0,2956.0,250.0,646.0,1725.0,416.0,...,73.0,0.0,6675.0,2360.0,1514.0,82658.409,3.690849e+06,31436.767780,0.0,0.59

In [66]:
cols=['Disponibilite_autres_viandes','Disponibilite_cereales',
 'Disponibilite_volaille',
 'Exportations_autres_viandes',
 'Exportations_cereales',
 'Exportations_volaille',
 'Importations_autres_viandes',
 'Importations_cereales',
 'Importations_volaille',
 'Nourriture_autres_viandes',
 'Nourriture_cereales',
 'Nourriture_volaille',
 'Pertes_autres_viandes',
 'Pertes_cereales',
 'Pertes_volaille',
 'Production_autres_viandes',
 'Production_cereales',
 'Production_volaille',
 'Population',
 'PIB',
 'Valeur_ajoutee_agriculture',
 'Sous_alimentation',
 'Stabilite_politique']
df_final2.columns=cols
df_final2.head()

ValueError: Length mismatch: Expected axis has 25 elements, new values have 23 elements

In [ ]:
df_final2.to_csv("C:/Users/lenovo/OneDrive/Desktop/DAN-P9-data/fichier_final.csv")